<ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url}}" target="_blank" title="Share on Facebook"><i
                class="fab fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on
                Facebook</span></a></li>
    <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url}}&text={{ page.og.description | default: page.description }}&via=dhornbein" target="_blank" title="Tweet"><i
                class="fab fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url}}" target="_blank"
            title="Share on LinkedIn"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i><span
                class="sr-only">Share on LinkedIn</span></a></li>
    <li><a href="mailto:?body=Hi%2C%20I%20wanted%20to%20share%20this%20awesome%20link%20with%20you%3A%20{{ site.url }}{{ page.url}}" target="_blank" title="Send email"><i class="fas fa-envelope-square fa-2x"
                aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>
</ul>